.main-footer--wrapper {
  border-top: 1px solid $light-grey;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%; 
  grid-gap: 1rem;
}

.main-footer--copyright {
  text-align: center;
  background-color: $off-white;
  padding: 1rem 2rem;

  @media #{$desktop-up} {
    text-align: right;
  }
}
