// ----- COLORS ----- //

$primary: #12489D;
$secondary: #FDB12B;
$tertiary: #FB1A31;;

$primary-light: rgba(18, 72, 157,.025);
$secondary-light: rgba(255,178,2,.025);;

$light-grey: #E8E9EB;
$dark-grey: #211F1B;

$white: #FFF;
$off-white: #F9FAFB;

// ----- Layout ----- //

body {
  font-family: $main-font;
  font-size: $base;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.gutters {
  padding: 50px 0;

  @media  #{$tablet-up} {
    padding: 100px 0;  
  }
}

.gutters--half {
  padding: 50px 0;
}

.gutter--top-only {
  padding-top: 50px;
  
  @media  #{$tablet-up} {
    padding-top: 100px;
  }
}

.gutter--bottom-only {
  padding-bottom: 0px;

  @media  #{$tablet-up} {
    padding-bottom: 100px;
  }
}

// ----- Headings ----- //

h2 {
  font-size: $heading;
  font-weight: $bold;
  font-family: $secondary-font;
  color: $primary;
  margin: 0;
}

.subhead {
  font-size: $subhead;
  font-weight: $medium;

  // @media #{$mobile-only} {
  //   font-size: $subhead * 1.25;
  // }
}

h3 {
  font-size: 2rem;
  font-weight: $bold;
  font-family: $secondary-font;
}


// ----- LINKS ----- //

a,
a:visited {
  color: $primary;
  font-weight: $semi-bold;
  text-decoration: underline;
  padding: 10px;
  margin-left: -10px;

  img.external-link {
    height: 10px;
    color: #f0f;
  }
}

a:hover,
a:focus {
  color: $white;
  background-color: $primary;
  text-decoration: none;
}

// ----- SKIP LINK ----- //

.skip-link { 
  font-weight: $semi-bold;
  font-size: $subhead;   
} 
 
.skip-link:focus { 
  padding: 15px 30px;
  left: 1.5rem;
  top: 1.5rem; 
  width:auto; 
  height:auto; 
} 

// ----- VISUALLY HIDDEN ------

.visuallyhidden {
  position:absolute; 
  left:-10000px; 
  width:1px; 
  height:1px; 
  overflow:hidden;
}


