
// HERO 
// ----------------------------------------------
.home-hero__heading {
  font-family: $secondary-font;
  font-weight: $bold;

  @media  #{$tablet-up} {
    font-size: $hero;
    margin: 0;
  }
}

.home-hero__heading--thin {
 font-weight: $medium; 
 display: block;
}

.home-hero__subhead {
  font-weight: $regular;
  
  @media  #{$tablet-up} {
    max-width: 50%;
  }
}

.home-hero__cta {
  font-size: 1.5rem;

  a {
    color: $primary;
  }

  & a:hover {
    background-color: $secondary;
    color: $secondary;
    text-decoration: none;
    color: $dark-grey;
  }
}

// HOME IMAGE BREAK
// ----------------------------------------------
.home-collage__wrapper {
  display: grid;
  grid-template-columns: 40% 60%; 
  grid-gap: 1rem;
  padding-left: 0;
  padding-right: 0;
  max-height: 580px;

  img {
    max-width: 100%;
  }
}

.home-collage__inner-wrapper {
  display: grid;
  grid-gap: 1rem 0;

  img {
    width: calc(100% - 17px);
  }
}

// NEXT MEETUP + MISSED A MEETUP
// ----------------------------------------------
.home-upcoming--wrapper,
.home-missed--wrapper {
  background-color: $off-white;
  padding: 3rem 2.5rem ;
}

.home-upcoming__grid,
.home-missed__grid {
  display: grid;
  grid-template-columns: 40% 60%; 
  grid-gap: 1rem;
}

.home-upcoming h3,
.home-missed h3 {
  color: $dark-grey;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.home-upcoming__subhead {
  font-size: 1.5rem;
  font-weight: $medium;
  margin-bottom: 2.5rem;

  @media #{$tablet-up} {
    margin-top: 0;
  }
}

.home-upcoming__description,
.home-missed__description {
  font-size: 1.5rem;

  @media #{$tablet-up} {
    margin: 0;
  }
}

.home-upcoming__cta {
  font-size: 1.5rem;
}

// CONTACT
// ----------------------------------------------
.home-contact__grid {
  display: grid;
  grid-template-columns: calc(50% - .5rem) calc(50% - .5rem); 
  grid-gap: 1rem;
}

.home-get-in-touch h2 {
  text-decoration: underline;
  text-decoration-color: $secondary;
}

.home-get-in-touch p {
  color: $dark-grey;
  font-size: 1.5rem;
  width: 75%;
}

// VOLUNTEER + NEWSLETTER
// ----------------------------------------------

.home-volunteer,
.home-newsletter {
  background-color: $off-white;
  padding: 3rem 2rem ; 
}

.home-volunteer {
  background-color:$secondary-light;
  border: 3px solid $secondary;
}

.home-newsletter {
  background-color: $primary-light;
  border: 3px solid $primary;
}

.home-volunteer img,
.home-newsletter img {
  display: inline;
  height: 50px;
  margin-right: 1rem;
} 

.home-volunteer h3,
.home-newsletter h3 {
  color: $dark-grey;
  margin-top: .5rem;
  margin-bottom: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-volunteer__subhead,
.home-newsletter__subhead {
  color: $dark-grey;
  font-size: 1.5rem;
  font-weight: $semi-bold;
}

.home-volunteer__description,
.home-newsletter__description {
  font-size: 1.25rem;

  @media #{$tablet-up} {
    margin: 0;
  }
}
