.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 2.5rem;
}

.main-nav {
  list-style-type: none;
  display: flex;
  padding-left: 0;

  
  li {
    margin-right: 10px;
  }

  a {
    padding: 10px 15px;
    font-size: 1.125rem;
    line-height: 1.5;
    text-decoration: none;
    position: relative;
  }
}

a[aria-current="page"]::after  {
  content: "";
  height: 5px;
  width: 100%;
  background-color: $secondary-dark;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main-nav__logo-link {
  display: flex;
  align-items: center;

  &:hover, 
  &:focus {
    background-color: transparent;

    .logo-link__text {
      position: relative;
      left: .5rem;
      width:auto; 
      height:auto;
    }
  }
}

.logo-link__logo {
  height: 2.5rem;
}

.logo-link__text {
  color: black;  
  font-family: $main-font;
  font-weight: $regular;
  font-size: 1.125rem;
}