.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 2.5rem;
}

.main-nav {
  list-style-type: none;
  display: flex;
  padding-left: 0;

  
  li {
    margin-right: 10px;
  }

  a {
    padding: 10px 15px;
    font-weight: $semi-bold;
    font-size: 1.125rem;
    line-height: 1.5;
    text-decoration: none;
    position: relative;
  }
}

// The hidden attribute will not work on elements using display:flex. Additional CSS required to hide element.
.main-nav[hidden] {
  display: none;
}

a[aria-current="page"]::after  {
  content: "";
  height: 5px;
  width: 100%;
  background-color: $secondary-dark;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main-nav__logo-link {
  display: flex;
  align-items: center;

  &:hover, 
  &:focus {
    background-color: transparent;

    .logo-link__text {
      position: relative;
      left: .5rem;
      width:auto; 
      height:auto;
    }
  }
}

.logo-link__logo {
  height: 2.5rem;
}

.logo-link__text {
  color: black;  
  font-family: $main-font;
  font-weight: $semi-bold;
  font-size: 1.125rem;
}

/* ------------------------------------
  Mobile Nav to-do list
  - fix menu to top of screen *** I can't figure out how to have this fixed and allow vertical scroll ***
  - set javascript to tab trap menu links when menu is open
  - reload styles when user resizes screen
--------------------------------------*/

@media #{$mobile-only} {
  // If JS is not working, 
  .no-js .navigation-wrapper {
    display: block;
  }
  .no-js .main-nav__button {
    display: none;
  }
  // Styles with JS working or not (JS-specific styles will be added in scripts)
  .main-nav__button {
    svg {
      width: 1rem;
      height: 1rem;
      margin-right: 10px;
    }
    background: $primary-dark;
    color: $white;
    font-weight: bold;
    border: 5px solid $white;
    border-radius: 5px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    &[aria-expanded=true] {
      background: $white;
      color: $primary-dark;
      border: 3px solid $primary-dark;
    }
  }

  .navigation-wrapper {
    // position: absolute;
    width: 100%;
    top: 0;
    background: white;
  }

  .main-nav {
    // positioning has to be done via javascript-added class
    flex-direction: column;
    width: 100%;
    padding: 0 2.5rem;
    background: $white;
    text-align: center;
    left: 0;

    li,
    a {
      width: inherit;
    }

    li {
      margin: 10px 0;
    }

    a {
      margin: 0;
      padding: 20px;
      border: 2px solid $primary-dark;
      background: rgba($primary-dark, 0.1);
      color: $primary-dark;
      display: block;
      transition: background 0.3s;
      &:hover,
      &:focus {
        background: $primary-dark;
        color: $white;
      }
    }
    a[aria-current="page"] {
      border: 2px solid $secondary-dark;
      background: rgba($secondary-dark, 0.1);
      color: $secondary-dark;
      &::after {
        background: transparent;
      }
      &:hover,
      &:focus {
        color: $white;
        background: $secondary-dark;
      }
    }
  }
  .fixed .navigation-wrapper {
    position: fixed;
    width: 100%;
  }
  .fixed main {
    margin-top: 100px;
  }
  .fixed .main-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 40px;
  }
}
