.speakers-hero {
  background: linear-gradient( to bottom, $grey-light, $white);  

  p {
    @media #{$tablet-up} {
      font-size: 1.75rem;
      width: 100%;    
    }
  
    @media #{$desktop-up} {
      font-size: 1.5rem;
      width: 75%;
    }
  }
}

.speakers-hero__heading {
  font-family: $secondary-font;
  font-weight: $bold;
  color: $primary-dark;

  @media  #{$tablet-up} {
    font-size: $hero;
    margin-top: 0;
  }
}

.speakers-past p {
  @media #{$tablet-up} {
    font-size: 1.75rem;
    width: 100%;    
  }

  @media #{$desktop-up} {
    font-size: 1.5rem;
    width: 75%;
  }
}

.speakers-past--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.speakers-past__block {
  @media  #{$tablet-up} {
    width: 45%;
  }

  p {
    @media #{$tablet-up} {
      font-size: 1.75rem;  
    }
  
    @media #{$desktop-up} {
      font-size: 2rem;
      font-weight: bold;
    }
  }
}
